  
  <div class="user_show">
   <h4><%= @tweet.user.name %></h4>
   <%= @tweet.title %>
   <div class="content_left">
    <%= simple_format(@tweet.text) %>
     <h3>コメント</h3>
      <%= render partial: "tweets/comment", collection: @comments %>
   </div>
  </div>
  
  <h3>コメントする</h3>
  <%= form_for(@comment) do |f| %>
      <%= f.text_area :comment, placeholder: "ここにコメントを入力してください。" %><br>
      <%= f.submit "コメントを投稿する" %><br>
  <% end %>


  <%= link_to "ホームに戻る", "/", method: :get , class: "button_1" %>