<body>
  新規投稿<br>
  <%= form_for(@tweet) do |f| %>
  <%= label_tag :題名 %><br>
  <%= f.text_area :title ,size: "30x2", autofocus:"true"%><br>
  <%= label_tag :ブログ %><br>
  <%= f.text_area :text ,size: "100x10", autofocus:"true"%><br>
  <%= f.submit "追加", class: "button_1" %><br>
  <% end %>
</body>

<%= link_to "ホームに戻る", "/", method: :get, class: "button_1" %>
