  
  <div class="user_show">
   <h4><%= @tweet.user.name %></h4>
   <%= @tweet.title %>
   <div class="content_left">
    <%= simple_format(@tweet.text) %>
     <div class = "comment">
      <%= render partial: "tweets/comment", collection: @comments %>
     </div>
   </div>
   <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
        <textarea name="comment" placeholder="コメントする" rows="3" cols="100"></textarea><br>
        <input type="submit" value="SENT"><br>
      <% end %>
  </div>
  <%= link_to "ホームに戻る", "/", method: :get , class: "button_1" %>