<head>
  
</head>

<body>
  <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">MiniBlog</a></h1>
        <% if user_signed_in? %>  
          <div class="user_nav grid-6">
            <%= link_to "ブログ投稿", new_tweet_path, class: "btn-sticky" %>
            <!--<a class="post" href="/tweets/new">投稿する</a>-->
            <!--テキストでは上記の書き方をしていたがlink_toを使わない理由はあるのかな？なんでpostなんだ？newはgetだよね？-->
            <%= link_to "マイページ", user_path(current_user), class: "btn-sticky" %>
            <%= link_to "user編集", edit_user_path(current_user), class: "btn-sticky" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "btn-sticky"%>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "新規登録", new_user_registration_path, class: "btn-sticky" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn-sticky" %>
          </div>
        <% end %>
      </div>
  </header>

  
  <% @tweet.each do |tweet|  %>
   <br>
   タイトル
   <%= link_to tweet.title, "/tweets/#{tweet.id}", method: :get, class: "title" %><br>
   著者：
   <%= tweet.user.name %><br>
   <%= link_to "詳細", "/tweets/#{tweet.id}", method: :get, class: "btn-square-pop" %>
   <%= link_to "編集", "/tweets/#{tweet.id}/edit", method: :get, class: "btn-square-pop" %>
   <%= link_to "削除", "/tweets/#{tweet.id}", method: :delete, class: "btn-square-pop" %><br>
   <br>
  <%end%>
    
</body>

